
/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust:     auto;
}

body {
  margin: 0;
}

/* --- */
*{
  font-family: sans-serif,'Helvetica', Arial;
  font-weight: normal;
}

/*расцветка блоков*/
.wrapper {
  background-color: white; /* Цвет фона веб-страницы */
}

.header,
.footer {
  background-color: black; /* Цвет фона */
}

.content {
  background-color: rgb(242, 245, 250);
}

/*размеры блоков*/
.content {
  padding: 5px;
}

div,
select,
input[type="text"],
button,
label,
template,
u {
  width: 100%;
  margin-bottom: 5px;
}

.cost {
  width: 100% !important;
  margin-bottom: 5px;
  border: 1px #FF9200;
}

/* шрифты блоков */
.header {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #FF9200;
  background: linear-gradient(to top, #000000 0%, #456469 50%, #000000 100%);
  text-shadow: lightgray 2px 2px 4px;
}

.header .header_info {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  text-shadow: none;
}

.footer {
  text-transform: uppercase;
  text-align: right;
  font-size: 10px;
  font-weight: lighter ;
  color: #FF9200;
}

.cost {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #FF9200;
}

.cost_error {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: orange;
}

select,
input,
button,
label,
u {
  font-size: 24pt;
  font-weight: bold;
}

/*выравнивание радиокнопок относительно текста */
input[type="radio"] {
  vertical-align: middle;
}

/* источник https://smagloiv.ru/blog/style_hr/ */
hr {
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/*GREED*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 15em)) 1fr;
  grid-template-rows: 90px auto 16px;
  height: 100vh;
}

.header {
  grid-column: span 4;
}

.content {
  grid-column: span 2/4;
}

.footer {
  grid-column: span 4;
}

/*
@media (max-width: 430px){
  .header,
  .content,
  .footer {
    grid-column: span 4;
  }   
}
*/

@media screen and (max-width: 640px){
  .header,
  .content,
  .footer {
    grid-column: span 4;
  }   
}
